@font-face {
    font-family: space-grotesk-reg;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family: space-grotesk-bold;
    src: url(../font/Space_Grotesk/static/SpaceGrotesk-Bold.ttf);
}

html{
    scroll-behavior: smooth;
    overflow: hidden;
}
body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.text-gradient {
    color: #7319fa;
    background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes move-twinkling-back{
    from {background-position: 0 0;}
    to {background-position: -10000px 5000px;}
}
.penta-home__body{
    overflow-y: hidden;
}

.penta-home__body-stars, .penta-home__body-twinkling{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.penta-home__body-stars{
    background: #000000 url(../assets/starnight.png) repeat top center;
    z-index: 0;
}

.penta-home__body-twinkling{
    background: transparent url(../assets/twinkling.png) repeat top center;
    /* z-index: 1; */
    animation-name: move-twinkling-back;
    animation-duration: 500s;
    animation-direction: linear;
    animation-iteration-count: infinite;
}

.penta-home__body-content{
    z-index: 1;
    position: relative;
    overflow-y: hidden;
}

/*------------- HEADER -----------------*/
.penta-home__body-header{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;

}

.penta-home__body-navbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.penta-home__body-navbar-menu{
    width: 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
}
.penta-home__body-navbar-menu.active {

}

.penta-home__body-navbar-menu ul{
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

.penta-home__body-navbar-menu ul li{
   margin-right: 40px;
}

.penta-home__body-navbar-menu ul li a{
    color: #ffffff;
    font-size: 20px;
    font-family: space-grotesk-reg;
 }

.penta-home__body-navbar-hamburger{
    cursor: pointer;
    margin-right: 25px;
    width: 6%;
}

.penta-home__body-navbar-hamburger-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.penta-home__body-navbar-hamburger.active .penta-home__body-navbar-hamburger-bar:nth-child(2){
    opacity: 0;
}

.penta-home__body-navbar-hamburger.active .penta-home__body-navbar-hamburger-bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}

.penta-home__body-navbar-hamburger.active .penta-home__body-navbar-hamburger-bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
}

/* navbar mobile */

.penta-home__body-navbar-mobile{
    display: none;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.penta-home__body-navbar-mobile-hamburger{
    cursor: pointer;
    padding-right: 40px;
    width: 4%;
}

.penta-home__body-navbar-mobile-hamburger-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.panta-home__body-navbar-mobile-logo_alpha{
    width: 75%;

}
.offcanvas-body ul{
    display: flex;
    flex-direction: column;
}

.offcanvas-body ul li a{
    color: #000000;
    font-size: 20px;
    font-family: space-grotesk-reg;
}

#offcanvasRightLabel{
    margin: 0;
}

.penta-home__body-header-logo{
    width: 60%;
}

.penta-home__body-header-logo img{
    width: 60%;
    padding: 20px 65px 0;
    opacity: 0;
    transition: opacity ease-in-out 100ms, visibility 600ms;
}

/* ------------------ BODY -------------------- */
.penta-home__body-content-body{

}
.penta-home__body-parallax-wrapper{
    height: 100dvh;
    perspective: 600px;
    overflow-y: auto;
}
.penta-home__body-parallax-landinglogo{
    height: 100%;
}

.penta-home__body-parallax-landinglogo img{
    position: fixed;
    top: 10%;
    width: 32%;
    transform: translate(100%, 10%) scale(1);
    transition: opacity 600ms ease 0s;
}
.parallax-wrapper-group{
    position: relative;
    transform-style: preserve-3d;
}
.penta-home__body-parallax-content{
    contain: content;
    height: 120dvh;
    top: 20rem;
    z-index: 1;
    margin: 0 10%;
}

.penta-home__body-landing{
    position: absolute;
    inset: 0;
    display: flex;
    height: 100dvh;
    transition: opacity 600ms ease 0s;
    align-items: center;
}
.base-layer{
    transform: translateZ(-600px) scale(2);
    padding: 10rem 0; 
}
.mid-layer{
    transform: translateZ(-300px) scale(1.5);
    padding: 10rem 0;
}
.top-layer{
    padding: 10rem 0;
}

.penta-home__body-text{
    padding: 200px 70px;
    width: 100%;
    transition: opacity 600ms ease 0s;
}
.penta-button-style{
    width: 120px;
    height: 40px;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #7319fa96, #ff33b4b0, #ff7e29ba);
    border-radius: 10px;
    border: none;
    font-family: space-grotesk-reg;
}


.penta-home__body-text-title{
    font-family: space-grotesk-bold;
    color: #ffffff;
    line-height: 90px;
    font-size: 80px;
    width: 100%;
}

.penta-home__body-text-title span{
    font-weight: 800;
}
.penta-home__body-text-para{
    font-family: space-grotesk-reg;
    color: #ffffff;
    font-size: 20px;
    position: relative;
    left: 20%;
}

.penta-home__body-logo img{
    width: 100%;
}

.penta-home__body-image{
    width: 100%;
    position: relative;
}
.top-layer .penta-home__body-image{
    left: 54px;
    bottom: 35px;
}
.penta-home__body-image img{
   /* position: absolute; */
    position: relative;
    left: 15%;
}

.penta-home__body-image-shapes{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;

}
/* for the logo to change size in landing page */
/* .fixed-logo{
    
}

.penta-home__body-parallax-landinglogo.fixed-logo img{
    transform: translate(0, 0) scale(1);
}
 */

 .penta-home__body-parallax-about{
    padding: 0 10%;
    margin: 15% 0;

    display: flex;
    align-items: center;
 }
 .penta-home__body-parallax-about-img img{
    width: 80%;
 }
 .penta-home__body-parallax-about-text{
        width: 75%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
 }
 .penta-home__body-parallax-about-text-head{
    color: #ffffff;
    margin-bottom: 15px;
    font-family: space-grotesk-reg;
    font-size: 80px;
 }
 /* .penta-home__body-parallax-about-text a{
    font-family: space-grotesk-reg;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #ffffff;
    color: #000000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
 } */
 .penta-home__body-parallax-about-text a i::before{
    color: #7319fa;
    background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.penta-home__body-parallax-about-text a i::after{
    color: #7319fa;
    background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .penta-home__body-parallax-about-text-head span{
    font-family: space-grotesk-bold;
 }
 .penta-home__body-parallax-about-text p{
    color: #ffffff;
    font-family: space-grotesk-reg;
    word-spacing: 5px;
    font-size: 25px;
    margin-bottom: 20px;
 }


 /* Services */
 .penta-home__body-parallax-services {
    position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
    margin: 5% 15%;
    align-items: center;
    flex-direction: row;
 }
 .penta-home__body-parallax-services-head h3{
    transform: scale(-1);
    float: right;
 }
 .vertical-text-orientation{
    font-family: space-grotesk-bold;
    font-size: 160px;
    color: #fff;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    
 }
 .penta-home__body-parallax-services-cards{
    display: flex;
 }
.penta-home__body-parallax-services-cards-card-column{
    padding: 0 15px;
}
.penta-services-card-column-2{
    padding-top: 100px;
}
.penta-home__body-parallax-services-cards-column-card{
    height: 400px;
    width: 260px;
    background-color: #231B3B;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px #fff;
}
.penta-home__body-parallax-services-cards-card-column-text{
    text-align: right;
    margin: 30px;
    border-bottom: 3px solid #fff;
    position: relative;
    top: 15%;
}


.penta-home__body-parallax-services-cards-card-column-text h3{
    font-family: space-grotesk-bold;
}
.penta-home__body-parallax-services-cards-card-column-text p{
    color: #fff;
    font-family: space-grotesk-reg;
}
/* .penta-service-overlay{
    height: 90%;
    position: relative;
    bottom: 300px;
    background-color: #231B3B;
    transition: width 2s ease-in-out;
    width: 100%;
    overflow: hidden;
}
.penta-service-card-show-text{
    width: 0;
} */
/* 
@keyframes slideOutLeft {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
 */



 /* Products */

 .penta-home__body-parallax-products{
    margin: 5% 15%;
    position: relative;
    height: 110dvh;
    transition: all 1s linear;
 }
.penta-home__body-parallax-products-section{
    display: flex;
}
.penta-home__body-parallax-products-section-items-row{
    display: flex;
}
.penta-home__body-parallax-products-section-items-row-item{
    background-color: #231B3B;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px #fff;
    padding: 50px;
    margin: 10px;
}
.penta-home__body-parallax-products-section-items-row-item img{
    width: 70%;
}
.penta-home__body-parallax-products-section-items-row-item h3{
    font-family: space-grotesk-bold;
}
.penta-home__body-parallax-products-section-items-row-item p{
    color: #ffffff;
    font-family: space-grotesk-reg;
}
.penta-home__body-parallax-products-section-items-row-item button{
    
}
/* This style is because there is only three product items there are some codes to make this differernt from others above */
.product-section-three-item-temp-div{
    display: flex;
}
.product-section-three-item-temp-div-item{
    width: 80%;
}

/* Contact  Form*/
.penta-home__body-parallax-contact{
    margin: 10%;
    /* width: 100%; */
    display: flex;
    align-items: center;
}
.penta-home__body-parallax-contact-container{
    color: #fff;
    width: 50%;
    /* margin: 0 10%; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.penta-home__body-parallax-contact-container-label{
    padding-bottom: 10px;
    font-size: 28px;
    font-family: space-grotesk-bold;
    opacity: 0.4;
}
.penta-home__body-parallax-contact-container-title{
    padding-bottom: 10px;
    font-size: 32px;
    font-family: space-grotesk-bold;
}
.penta-home__body-parallax-contact-container-desc{
    padding-bottom: 10px;
    font-size: 28px;
    font-family: space-grotesk-reg;
}

.penta-home__body-parallax-contact-form{
    width: 50%;
    /* margin: 0 6%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.penta-home__body-parallax-contact-form form{
    /* background-color: #000; */
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 15px 5px #3e2452; */
}

.penta-home__body-parallax-contact-form-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.penta-home__body-parallax-contact-form-row-content{
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 10px 0;
}
.penta-home__body-parallax-contact-form-row-message{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #000;
}
.penta-home__body-parallax-contact-form-row-label{
    position: relative;
    font-size: 18px;
    font-family: space-grotesk-reg;    
    padding-bottom: 4px;
    color: #fff;
}
.penta-home__body-parallax-contact-form-row-input{
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background: #000;
    border-bottom: 1px solid #ffffff;
}
.penta-home__body-parallax-contact-form-action{
    width: 200px;
}

/* Footer */
.penta-home__body-parallax-footer{
    overflow-y: hidden;

}
.penta-home__body-parallax-footer-img{
    background-image: url('../assets/footer.png');
    background-repeat: no-repeat;
    width: 100dvw;
    height: 100dvh;
    background-size: contain;
    background-position-y: bottom;
    display: flex;
    align-items: flex-end;
}

.penta-home__body-parallax-footer-img img{
    opacity: 1;
    width: 100%;
    transform: translate(0%, 50%);
    transition: transform 2s ease-out;
}
.penta-home__body-parallax-footer-content{
    width: 100%;
    z-index: 1;
}
.penta-home__body-parallax-footer-content-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.penta-home__body-parallax-footer-content-info-details{
    color: #ffffff;
}
.penta-home__body-parallax-footer-content-info-details h3{
    font-family: space-grotesk-reg;
    font-size: 30px;
    margin-bottom: 10px;
}
.penta-home__body-parallax-footer-content-info-details ul li{
    font-family: space-grotesk-reg;
    font-size: 20px;
    margin-bottom: 5px;
}
.penta-home__body-parallax-footer-content-info-details ul {
    padding-left: 0;
}
.penta-home__body-parallax-footer-content-badge{
    text-align: center;
}
.penta-home__body-parallax-footer-content-badge{
    text-align: center;
}
.cyber-essentials{
    border: none;
    height:120px; 
    width:100px;
}
.penta-home__body-parallax-footer-content-copyright{
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
}
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000069;
    z-index: 0;
}


/* Responsive Screens */

@media(max-width: 2560px) {
    .top-layer .penta-home__body-image {
        left: 50px;
    }
}
@media(max-width: 1920px) {
    /* .penta-home__body-parallax-footer-content {
        top: 35%;
    } */
}
@media(max-width: 1770px) {
    .penta-home__body-text {
        padding: 380px 70px;
    }
    .penta-home__body-text-title {
        line-height: 80px;
        font-size: 65px;
    }
    .penta-home__body-parallax-content {
        margin: 0 6%;
    }
    /* .penta-home__body-parallax-footer-content {
        top: 20%;
    } */
    
}

@media(max-width: 1440px) {
    .penta-home__body-header-logo img {
        width: 70%;
    }    
    .penta-home__body-text {
        padding: 350px 0px;
    }
    .penta-home__body-text-title {
        font-size: 70px;
    }
    .penta-home__body-image img {
        left: 10%;
    }
    .parallax-wrapper-group {
        height: 100dvh;
    }
    .penta-home__body-parallax-services{
        height: 180dvh;
    }
    .penta-home__body-parallax-content {
        height: 120dvh;
    }
    /* .penta-home__body-parallax-footer-img{
        position: relative;
        top: 30%;
    } */
    .penta-home__body-parallax-footer-content {
        /* top: 40%; */
        padding: 45px 0;
    }
    .cyber-essentials{
        height: 86px;
        width: 70px;
    }
}
@media (max-width: 1300px){
    /* .penta-home__body-parallax-footer-img {
        top: 35%;
    } */
}
@media (max-width: 1200px){
    .penta-home__body-image img {
        width: 90%;
    }
    .top-layer .penta-home__body-image img{
        width: 72%;
        left: 8px;
    }
    .top-layer .penta-home__body-image {
        left: 40px;
    }
    .penta-home__body-image img {
        left: 0%;
    }
    .penta-home__body-header-logo img {
        width: 100%;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 20px;
    }
    .penta-home__body-parallax-services-cards-card-column-text p {
        font-size: 15px;
    }
    .penta-home__body-parallax-services-cards-card-column-text h3 {
        font-size: 22px;
    }
    .penta-home__body-parallax-services-cards-column-card {
        height: 360px;
    }
    .penta-home__body-parallax-products-section-items-row-item img {
        width: 100%;
    }
    .penta-home__body-parallax-products-section-items-row-item h3 {
        font-size: 22px;
    }
    .penta-home__body-parallax-products-section-items-row-item p {
        font-size: 12px;
    }
    .penta-home__body-parallax-products-section-items-row-item button {
        font-size: 12px;
        width: 100px;
        height: 35px;
    }
    .penta-home__body-parallax-contact-container-desc {
        font-size: 22px;
    }
    .penta-home__body-parallax-footer-content-info-details ul li {
        font-size: 16px;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 38%;
    } */
    .penta-home__body-parallax-footer-content {
        /* top: 48%; */
        padding: 30px 0;
    }
}
@media(max-width: 1100px){
    .top-layer .penta-home__body-image {
        left: 25px;
    }    
    .top-layer .penta-home__body-image img {
        left: 4%;
    }
    
}
@media(max-width: 1024px) {

    
    .penta-home__body-header-logo img {
        padding: 20px 40px 0;
    }
    .penta-home__body-text-title {
        font-size: 66px;
        line-height: 70px;
    }

    .top-layer .penta-home__body-image img{
        left: 15px;
    }

    .penta-home__body-parallax-about-text-head {
        font-size: 60px;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 20px;
    }
    .penta-home__body-parallax-about-img img {
        width: 90%;
    }
    .penta-home__body-parallax-services {
        margin: 0 10%;
    }
    .penta-home__body-parallax-products {
        padding: 5% 0;
    }
    .penta-home__body-parallax-products-section-items-row-item {
        padding: 20px;
    }
    #pentaserve_element{
        width: 50%;
    }
    #acutestudy_element{
        width: 50%;
    }
    .vertical-text-orientation {
        font-size: 130px;
    }

    .penta-home__body-parallax-contact-container-desc {
        font-size: 20px;
    }
    .penta-home__body-parallax-contact-form form {
        padding: 20px;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 50%;
    } */
    .penta-home__body-parallax-footer-info {
        top: 70%;
        padding: 40px 0;
    }
    .penta-home__body-parallax-footer-content-info-details h3 {
        font-size: 24px;
    }
    .penta-home__body-parallax-footer-content-info-details ul li {
        font-size: 14px;
    }
    .cyber-essentials {
        height: 60px;
        width: 50px;
    }
    .penta-home__body-parallax-footer-content {
        /* top: 60%; */
        padding: 0;
    }
    .penta-home__body-parallax-footer-content-copyright {
        padding-top: 10px;
        font-size: 10px;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 68%;
    } */
    /* .penta-home__body-parallax-footer-content {
        top: 77%;
    } */
}
@media(max-width: 960px){

    .penta-home__body-text-title {
        font-size: 52px;
        line-height: 60px;
    }
    .top-layer .penta-home__body-image img {
        left: 10px;
        width: 68%;
    }
    .penta-home__body-image img {
        width: 85%;
    }
}
@media(max-width: 820px){
    .penta-home__body-parallax-wrapper {
        height: 100svh;
    }
    .parallax-wrapper-group {
        height: 100%;
    }
    .top-layer .penta-home__body-image {
        bottom: 26px;
    }
    .top-layer .penta-home__body-image img {
        left: 6px;
        
    }
    .penta-home__body-parallax-about-text-head {
        margin-bottom: 5px;
        font-size: 50px;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 15px;
    }
    .vertical-text-orientation {
        font-size: 110px;
    }
    .penta-home__body-parallax-services-cards-card-column-text p {
        font-size: 14px;
    }
    .penta-home__body-parallax-services-cards-column-card {
        width: 220px;
    }
    .penta-home__body-parallax-contact-form {
        width: 60%;
    }
    .penta-home__body-parallax-contact-form-row-label {
        font-size: 15px;
    }
    .penta-home__body-parallax-contact-container-desc {
        font-size: 15px;
    }
    /* .penta-home__body-parallax-footer-content {
        top: 74%;
    } */
    /* .penta-home__body-parallax-footer-img {
        top: 70%;
    } */
}

@media(max-width: 768px) {

    .penta-home__body-header-logo img {
        width: 90%;
    }
    .penta-home__body-text {
        padding: 325px 0px;
    }
    .penta-home__body-image img {
        width: 80%;
    }
    .top-layer .penta-home__body-image img {
        width: 64%;
        top: 12px;
        left: 2px;    
    }
    .penta-home__body-text-title {
        font-size: 44px;
        line-height: 45px;
    }
    .penta-home__body-parallax-content {
        height: 100dvh;
    }
    .penta-home__body-parallax-about-img img {
        width: 95%;
    }
    .penta-home__body-parallax-about-text-head {
        font-size: 50px;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 15px;
    }
    .penta-home__body-parallax-services {
        margin: 0 8%;
    }
    /* .penta-home__body-parallax-footer-content {
        top: 70%;
    } */
    /* .penta-home__body-parallax-footer-img {
        top: 68%;
    } */
    
}
@media(max-width: 670px){

    .penta-home__body-header-logo {
        width: 75%;
    }
    .penta-home__body-header-logo img {
        width: 100%;
    }
    .top-layer .penta-home__body-image {
        left: 22px;
    }
    .top-layer .penta-home__body-image img {
        width: 60%;
        top: 12px;
        left: 0px;
    }
    .penta-home__body-image img {
        width: 75%;
    }
    .penta-home__body-text-title {
        font-size: 36px;
        line-height: 40px;
    }
    .vertical-text-orientation {
        font-size: 80px;
    }
    .penta-home__body-parallax-services-cards-column-card {
        width: 200px;
    }
    .penta-home__body-parallax-services-cards-card-column-text {
        margin: 20px;
    }
    .penta-home__body-parallax-products {
        margin: 5% 10%;
    }
    /* .penta-home__body-parallax-footer-content {
        top: 67%;
    } */
    /* .penta-home__body-parallax-footer-img {
        top: 65%;
    } */
    .penta-home__body-parallax-footer-content-info-details h3 {
        font-size: 22px;
    }
    .penta-home__body-parallax-footer-content-info-details ul li {
        font-size: 12px;
    }
    .cyber-essentials {
        height: 50px;
        width: 40px;
    }
    .penta-home__body-parallax-contact {
        margin: 5%;
    }
}
@media(max-width: 510px){

    .penta-home__body-header-logo {
        width: 100%;
    }
    .penta-home__body-text-title {
        font-size: 30px;
        line-height: 35px;
    }
    .top-layer .penta-home__body-image {
        left: 17px;
    }
    .penta-home__body-parallax-about-text-head {
        font-size: 40px;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 12px;
    }
    .penta-button-style {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .penta-home__body-parallax-services-cards {
        display: flex;
        flex-direction: column;
    }
    .penta-home__body-parallax-services {
        height: 300dvh;
    }
    .penta-services-card-column-2 {
        padding-top: 0;
    }
    .penta-home__body-parallax-services {
        align-items: flex-start;
    }
    .penta-home__body-parallax-products-section-items-row {
        flex-direction: column;
    }
    #pentaserve_element {
        width: 94%;
    }
    #acutestudy_element {
        width: 94%;
    }
    .product-section-three-item-temp-div {
        display: flex;
        flex-direction: column;
        width: 94%;
    }
    .penta-home__body-parallax-products {
        height: 150dvh;
    }
    .product-section-three-item-temp-div-item {
        width: 100%;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 74%;
    } */
    .penta-home__body-image {
        left: 25px;
    }
}
@media(max-width: 470px){

    .top-layer .penta-home__body-image {
        left: 40px;
    }
    .penta-home__body-parallax-about-text-head {
        font-size: 35px;
    }
}
@media(max-width: 428px) {

    /* .penta-home__body-parallax-footer-img img {
        transform: translate(0%, 0%);
    }     */
    /* .penta-home__body-parallax-footer-img {
        top: 68%;
    } */
    .penta-home__body-parallax-products {
        top: 0%;
        margin: 0 5%;
    }
}
@media(max-width: 425px){

    .penta-home__body-header-logo {
        width: 90%;
    }
    .penta-home__body-text-title {
        font-size: 25px;
        line-height: 25px;
    }
    .top-layer .penta-home__body-image img {
        left: 20px;
    }
    .penta-home__body-parallax-content {
        height: 120dvh;
    }
    .penta-home__body-parallax-about {
        flex-direction: column;
        justify-content: center;
    }
    .penta-home__body-header-logo img {
        padding: 20px 25px 0;
        width: 100%;
    }
    .penta-home__body-navbar {
        padding-top: 12px;
    }
    .penta-home__body-navbar-hamburger {
        padding-right: 35px;
    }
    .penta-home__body-navbar-hamburger-bar {
        width: 20px;    
    }
    .penta-home__body-navbar-menu ul li {
        margin-right: 8px;
    }
    .penta-home__body-navbar-menu ul li a {
        font-size: 10px;
    }
    .penta-home__body-text {
        padding: 170px 0px;
    }
    .penta-home__body-text-title {
        font-size: 20px;
        line-height: 22px;
    }
    .top-layer .penta-home__body-image {
        left: 17px;
        bottom: 17px;
    }
    .penta-home__body-parallax-about-img{
        width: fit-content;
    }
    .penta-home__body-parallax-about-text-head {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .penta-home__body-parallax-about-text p {
        font-size: 10px;
        word-spacing: 3px;
        margin-bottom: 10px;
    }
    .penta-home__body-parallax-about-text a{
        font-size: 10px;
    }
    .penta-home__body-parallax-services-cards {
        flex-direction: column;
        align-items: center;
    }
    .penta-home__body-parallax-contact {
        flex-direction: column;
        justify-content: center;
    }
    .penta-home__body-parallax-contact-container {
        width: 100%;
    }
    .penta-home__body-parallax-contact-form {
        width: 100%;
    }
    .penta-home__body-parallax-footer-info-details h3 {
        font-size: 20px;
    }
    .penta-home__body-parallax-footer-info-details ul li {
        font-family: space-grotesk-reg;
        font-size: 10px;
        margin-bottom: 2px;
    }
    .penta-home__body-parallax-contact-container-desc {
        padding-bottom: 40px;
        font-size: 12px;
    }
    .penta-home__body-parallax-contact-container-title {
        font-size: 25px;
    }
    .penta-home__body-parallax-footer {
        overflow-x: hidden;
    }
    /* .penta-home__body-parallax-footer-img img {
        width: 160%;
    } */
    .penta-home__body-parallax-footer-info {   
        top: 77%;
        padding: 18px 0;
    }

    .penta-home__body-parallax-footer-content-info {
        flex-direction: column;
    }
    .penta-home__body-parallax-footer-content {
        /* top: 36%; */
        padding: 5%;
    }

}
@media(max-width: 412px){

    .penta-home__body-parallax-footer-info {
        top: 75%;
    }
}

@media(max-width: 390px){
    .top-layer .penta-home__body-image {
        left: 15px;
    }
    .penta-home__body-header-logo img {
        padding: 20px 15px 0;
        width: 100%;
    }
    .penta-home__body-navbar {
        padding-top: 12px;
    }
    .penta-home__body-navbar-hamburger {
        padding-right: 20px;
    }
    .penta-home__body-parallax-footer-info-details h3 {
        font-size: 14px;
    }
    .penta-home__body-parallax-footer-info-details ul li {
        font-size: 8px;
    }
    
}
@media (max-width: 375px){

    .penta-home__body-text-title {
        font-size: 18px;
        line-height: 22px;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 65%;
    }
    .penta-home__body-parallax-footer-img {
        top: 68%;
    } */
}
@media(max-width: 320px){

    .top-layer .penta-home__body-image {
        left: 13px;
    }
    /* .penta-home__body-parallax-footer-img {
        top: 70%;
    } */
    .vertical-text-orientation {
        font-size: 60px;
    }
    .penta-home__body-parallax-services-cards-column-card {
        width: 195px;
    }
    .penta-home__body-parallax-services-cards-card-column {
        padding: 0;
    }
    .penta-home__body-parallax-footer-content-copyright {
        padding-top: 0;
    }
}
/* Media Query for iPads  */
@media (max-width: 820px) and (max-height: 1106px){
    .penta-home__body-parallax-services {
        height: 150dvh;
    }
}

@media (max-width: 768px) and (max-height: 1024px) {
    .top-layer .penta-home__body-image {
        bottom: 36px;
    }
    .penta-home__body-parallax-services {
        height: 150dvh;
    }
}

/* Media query for iphones  */

@media (max-width: 320px) and (max-height: 568px) and (-webkit-device-pixel-ratio: 2) { 

    .penta-home__body-text-title {
        font-size: 17px;
        line-height: 19px;
    }
   
    .top-layer .penta-home__body-image img {
        left: 22px;
        top: 3px;
    }
    .penta-home__body-text {
        padding: 130px 0px;
    }
    .penta-home__body-parallax-footer-info {
        top: 70%;
    }
    .penta-home__body-parallax-footer-info-details h3 {
        font-size: 12px;
    }
    .penta-home__body-parallax-footer-info-details ul li {
        font-size: 7px;
    }
    .top-layer .penta-home__body-image {
        bottom: 12px;
    }
    .penta-home__body-parallax-services {
        height: 390dvh;
    }
    .penta-home__body-parallax-products {
        height: 220dvh;
    }
    .penta-home__body-parallax-footer-content-info-details h3 {
        font-size: 16px;
    }
    .penta-home__body-parallax-footer-content-info-details ul li {
        font-size: 8px;
    }
    .cyber-essentials {
        height: 60px;
        width: 40px;
    }
    .penta-home__body-parallax-footer-content-copyright {
        font-size: 6px;
    }
    .penta-home__body-parallax-services-cards-column-card {
        height: 300px;
        width: 180px;
    }
    .penta-home__body-parallax-services-cards-card-column-text p {
        font-size: 12px;
    }
    .penta-home__body-parallax-services-cards-card-column-text h3 {
        font-size: 18px;
    }
    .penta-home__body-parallax-products-section-items-row-item h3 {
        font-size: 18px;
    }
    .penta-home__body-parallax-contact-container-label {
        font-size: 18px;
    }
    .penta-home__body-parallax-contact-container-title {
        font-size: 20px;
    }
    .penta-home__body-parallax-contact-form-row-label {
        font-size: 12px;
    }
    .penta-button-style {
        font-size: 10px;
        border-radius: 5px;
    }
    .penta-home__body-parallax-products-section-items-row-item button {
        font-size: 10px;
        width: 80px;
        height: 30px;
        border-radius: 5px;
    }

    .panta-home__body-navbar-mobile-logo_alpha {
        width: 60%;
    }
    .offcanvas{
        width: 200px;
    }
    .offcanvas-body ul li a {
        font-size: 14px;
    }
    .penta-home__body-navbar-mobile-hamburger-bar {
        width: 20px;
        height: 1px;
    }
}


@media (max-width: 430px) and (max-height: 932px) { 
 
    .top-layer .penta-home__body-image {
        left: 37px;
    }
    .top-layer .penta-home__body-image img {
        top: 22px;
    }
    .penta-home__body-parallax-about {
        flex-direction: column;
    }
    .penta-home__body-parallax-contact {
        flex-direction: column;
    }
    .penta-home__body-parallax-contact-container {
        width: 100%;
    }
    .penta-home__body-parallax-contact-form {
        width: 100%;
    }
    .penta-home__body-parallax-footer-content {
        padding: 0 20px;
    }
    .penta-home__body-parallax-footer-content-info {
        flex-direction: column;
    }

}
@media (max-width: 428px) and (max-height: 746px) { 
    .top-layer .penta-home__body-image {
        left: 32px;
        bottom: 34px;
    }
    .top-layer .penta-home__body-image img {
        width: 68%;
    }
    .penta-home__body-image {
        left: 40px;
    }
    .penta-home__body-parallax-services {
        height: 320dvh;
    }
    .penta-home__body-parallax-services-head{
        width: 100%;

    }
    .penta-home__body-parallax-products-section-items{
        width: 70%;
    }
    .penta-home__body-parallax-contact {
        padding-top: 40%;
    }


}
@media (max-width: 414px) and (max-height: 896px){

    .top-layer .penta-home__body-image img {
        top: 6px;
        left: 0px;
    }

}
@media (max-width: 412px) and (max-height: 915px){

    .top-layer .penta-home__body-image img {
        top: 6px;
        left: 2px;
        width: 60%;
    }
    .penta-home__body-text-title {
        font-size: 26px;
        line-height: 30px;
    }


}
@media (max-width: 390px) and (max-height: 844px) { 
    .penta-home__body-image {
        left: 39px;
    }
   
    .top-layer .penta-home__body-image img {
        width: 64%;
    }
    .penta-home__body-parallax-about {
        flex-direction: column;
    }
    .penta-home__body-parallax-services-head{
        width: 100%;

    }
    .penta-home__body-parallax-products-section-items{
        width: 70%;
    }
    .penta-home__body-parallax-contact {
        padding-top: 40%;
    }
    .penta-home__body-parallax-contact {
        flex-direction: column;
    }
    .penta-home__body-parallax-contact-container {
        width: 100%;
    }
    .penta-home__body-parallax-contact-form {
        width: 100%;
    }
    .penta-home__body-parallax-footer-content {
        padding: 0 20px;
    }
    .penta-home__body-parallax-footer-content-info {
        flex-direction: column;
    }


}
@media(max-width: 390px) and (max-height: 664px){
    .top-layer .penta-home__body-image img {
        top: 23px;
        left: 7px;
    }
    .penta-home__body-parallax-services {
        height: 360dvh;
    }
}
@media (max-width: 375px) and (max-height: 667px){

    .top-layer .penta-home__body-image img {
        top: 6px;
        left: 0px;
    }
    .penta-home__body-text-title {
        font-size: 25px;
        line-height: 28px;
    }


    .penta-home__body-text-title {
        font-size: 22px;
        line-height: 28px;
    }
    .penta-home__body-parallax-services {
        height: 360dvh;
    }
    .penta-home__body-parallax-products {
        height: 170dvh;
    }

}
@media (max-width: 360px) and (max-height: 740px){
 
    .top-layer .penta-home__body-image {
        left: 42px;
        bottom: 12px;
    }
    .top-layer .penta-home__body-image img {
        width: 63%;
        top: 0px;
        left: 0px;
    }
    .penta-home__body-parallax-services {
        height: 320dvh;
    }
    .vertical-text-orientation {
        font-size: 60px;
    }

}



@media (max-width: 414px) and (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {
   
    .penta-home__body-text {
        padding: 160px 0px;
    }
    .penta-home__body-parallax-footer-info-details h3 {
        font-size: 14px;
    }
    .penta-home__body-parallax-footer-info-details ul li {
        font-size: 8px;
    }

    .penta-home__body-parallax-footer-info {
        top: 76%;
    }
        
 }
 @media (max-width: 428px) and (max-height: 926px) and (-webkit-device-pixel-ratio: 3) { 
  
    .penta-home__body-text {
        padding: 170px 0px;
    }
    .penta-home__body-parallax-wrapper {
        overflow-x: hidden;
    }
    .penta-home__body-text-title {
        font-size: 22px;
        line-height: 25px;
    }
    .penta-home__body-parallax-about-text-head {
        font-size: 28px;
    }

    .penta-home__body-parallax-about-text p {
        font-size: 10px;
        margin-bottom: 8px;
    }
    .penta-home__body-parallax-about-text a i{
        font-size: 1em;
    }
    .penta-home__body-parallax-services-cards {
        flex-direction: column;
        align-items: center;
    }
    .penta-home__body-parallax-contact {
        flex-direction: column;
        justify-content: center;
    }
    .penta-home__body-parallax-contact-container {
        width: 100%;
    }
    .penta-home__body-parallax-contact-form {
        width: 100%;
    }
    .penta-home__body-parallax-footer-info-details h3 {
        font-size: 20px;
    }
    .penta-home__body-parallax-footer-info-details ul li {
        font-family: space-grotesk-reg;
        font-size: 10px;
        margin-bottom: 2px;
    }
    .penta-home__body-parallax-contact-container-desc {
        padding-bottom: 40px;
        font-size: 12px;
    }
    .penta-home__body-parallax-contact-container-title {
        font-size: 25px;
    }
    .penta-home__body-parallax-footer {
        overflow-x: hidden;
    }
 
    .penta-home__body-parallax-footer-info {
        top: 71%;
        padding: 10px 0;
    }
 }